html {
  background-color: #f4f4f4;
}

body {
  font-family: BarlowCondensed-SemiBold;
  color: #707070 !important;
}

.menu-button {
  position: relative;
  right: 1em;
}
/* h2 {
  font-family: BarlowCondensed-SemiBold;
} */

.app-bar {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.padding-container {
  padding: 2em 3em 3em 3em;
}

.number {
  font-size: 2.7em;
  margin: 0;
}
